*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: #000;
    --third-color: hsl(0, 0%, 96%);
    --forth-color: 5px 5px 5px #e2e2e2, -5px -5px 3px #e2e2e2;
    --five-color: hsl(0, 2%, 8%);
}
.dark-theme{
    --primary-color: hsl(0, 1%, 13%);
    --secondary-color: #ccc;
    --third-color: hsl(0, 1%, 15%);
    --forth-color: 5px 5px 5px #0d1624, -5px -5px 3px #2f2f30;
}
body {
    background-color:var(--third-color);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: var(--forth-color);
    color: var(--secondary-color);
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}
.navbar .moon-icon {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 15px;
  }

.navbar a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 5px;
}

.sec_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    

}

.search{
    width: 280px;
    margin: 10px;
    background: var( --primary-color);
    padding: 10px;
    box-shadow: var(--forth-color);
}
.search i{
    color: var(--secondary-color);
}
.search input[type="search"]{
    border: none;
    padding: 5px;
    width: 260px;
    color: var(--five-color);
    
}

select{
    display: flex;    
    width: 150px;
    height: 43px;
    margin: 10px;
    background-color: var( --primary-color);
    border: none;
    padding: 5px;
    color: var(--secondary-color);
    box-shadow: var(--forth-color);
}
select option{
    padding: 20px;
    border: none;
    color: var(--secondary-color);

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
}
.container .card{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    margin: 30px;
    cursor: pointer;
    border-radius: 5px;
    background: var( --primary-color);
    color: var(--secondary-color);
    box-shadow: var(--forth-color);
}
.card:hover{
    flex-basis: 20.5%;
    transition: 0.4s ease-out;
}
.card img{
    width: 100%;
    margin: 0;
    border-radius: 5px;
    padding: 0 20px 20px 0;
}
.card p{
    padding: 3px;
}
.card h2{
    padding: 20px;
}
.card h4{
   padding: 0 20px;   
}

.country-details {
    display: none;
    padding: 20px;
    /* background-color: #f1f1f1; */
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.country-details img {
    width: 400px;
    height: 280px;
    border-radius: 5px;
    margin-bottom: 10px;
    float: left;
    
}

.country-details h2 {
    font-size: 20px;
    margin-top: 40px;
    color: var(--secondary-color);
}

.country-details p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    color: var(--secondary-color);
}

/* Back button styles */
.back-button {
    display: block;
    /* justify-content: center; */
    margin-top: 20px;
}

.back-button button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: var(--forth-color);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.back-button button:hover {
    background-color: #333;
    color: #fff;
}


@media only screen and (max-width: 720px) {
    .navbar{
        width: 100%;
    }
    .navbar .logo{
    font-size: 24px;            
    }
    .sec_part{
        display: flex;
        flex-direction: column;
        
    }
    select{
        display: flex;
        margin-right: 180px;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 20px;

    }
    .country-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .country-details img{
        width: 100%;
        align-items: center;
        margin: 20px;
    }

    


}

  
